<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>champlile</title>
  <style>
    body{
      width: 100vw;
      height: 100vh;
      background-color: lightseagreen;
    }
    a{
      text-decoration: none;
      color: black;
      font-size: 2rem;
    }
    .items-sell-contents{
      background-color: white;
      width: 70%;
      height: 100vh;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
    }
    .items-sell-main{
      width: 50%;
      margin: 0 auto;
    }
    input{
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="items-sell-contents">
    <header class="items-sell-header">
      <a href="#">CampLife</a>
    </header>

        <div class="weight-bold-text">
          <p>
            キャンプ地
            <span class="indispensable">必須</span>
          </p>
        </div>
        <input name="" cols="30" rows="10" class="items-text" id="post-location-name"></input>
        
        <div class="form">
          <div class="weight-bold-text">
            <p>
              都道府県
              <span class="indispensable">必須</span>
            </p>
            <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
          </div>
        </div>
        
        <div class="form">
          <div class="weight-bold-text">
            <p>
              何月
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

          <div class='form-text-wrap'>
            <label class="form">日付</label>
            <span class="indispensable">必須</span>
          <div class='input-birth-wrap'>
            <select id="year">年</select>
            <select id="month">月</select>
            <select id="day">日</select>
          </div>
          </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              写真
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              天気
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              気温
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              風
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              スタイル
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              料金
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              チェックイン
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              宿泊
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              駐車場
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              シャワー
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              炊事場
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              お手洗い
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              ゴミ捨て場
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              管理人
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>

        <div class="form">
          <div class="weight-bold-text">
            <p>
              補足
              <span class="indispensable">必須</span>
            </p>
          </div>
          <input name="" class="select-box" id="item-prefecture" cols="30" rows="10"></input>
        </div>
        
  </div>
</body>
</html>
